//= views/header.html
<section class="page news-page">
    <div class="container">
        <div class="container-sub">
            <div class="row">
                <!-- Breadcrumbs -->
                <div class="col-md-12">
                    <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item" class="home">
                                <span itemprop="name">Главная</span>
                            </a>
                        </li>
                        <li class="active">Новости</li>
                    </ol>
                </div>
                <!-- //Breadcrumbs -->
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Новости
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="blog-list-wrap news-listing-wrapper">
                        <div class="blog-list-item">
                            <div class="border-sqr flex-row">
                                <div class="col-desktop-5 col-mobile-12">
                                    <div class="img-wrapper">
                                        <a href="single-news.html"><img src="img/blog/1.png" class="img-responsive" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-desktop-6 col-mobile-12">
                                    <div class="post-grid-content-wrapper">
                                        <span class="post-data">22.03.17</span>
                                        <h2 class="saral_post-heading"><a href="single-news.html">В продажу поступили новые
цветовые схемы</a></h2>
                                        <p class="blog-content">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</p>

                                    </div>
                                    <div class="post-btn-content-wrapper">
                                        <a href="single-news.html" class="read-more-icon">подробнее<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-list-item">
                            <div class="border-sqr flex-row">
                                <div class="col-desktop-5 col-mobile-12">
                                    <div class="img-wrapper">
                                        <a href="single-news.html"><img src="img/blog/1.png" class="img-responsive" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-desktop-6 col-mobile-12">
                                    <div class="post-grid-content-wrapper">
                                        <span class="post-data">22.03.17</span>
                                        <h2 class="saral_post-heading"><a href="single-news.html">Начала действовать акция
скидка на второй товар 30%</a></h2>
                                        <p class="blog-content">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение
                                            букв и пробелов в абзацах, которое не получается при простой дубликации... </p>

                                    </div>
                                    <div class="post-btn-content-wrapper">
                                        <a href="single-news.html" class="read-more-icon">подробнее<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-list-item">
                            <div class="border-sqr flex-row">
                                <div class="col-desktop-5 col-mobile-12">
                                    <div class="img-wrapper">
                                        <a href="single-news.html"><img src="img/blog/1.png" class="img-responsive" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-desktop-6 col-mobile-12">
                                    <div class="post-grid-content-wrapper">
                                        <span class="post-data">22.03.17</span>
                                        <h2 class="saral_post-heading"><a href="single-news.html">Состоится выставка “Интерьер - 2017”
в МВЦ </a></h2>
                                        <p class="blog-content">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение
                                            букв и пробелов в абзацах, которое не получается при простой дубликации... </p>

                                    </div>
                                    <div class="post-btn-content-wrapper">
                                        <a href="single-news.html" class="read-more-icon">подробнее<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pagination-wrap">
                <div class="col-sm-5 col-xs-4 text-sm-left text-xs-center"><a href="" rel="prev"><i class="fa fa-angle-left" aria-hidden="true"></i><span class="hidden-xs">Предыдущая страница</span></a></div>
                <div class="col-sm-2 col-xs-4 text-center">
                    <ul>
                        <li>
                            1 из 3
                        </li>
                    </ul>
                </div>
                <div class="col-sm-5 col-xs-4 text-sm-right text-xs-center"><a href="/" rel="next"><span class="hidden-xs">Следующая страница</span><i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
            </div>
        </div>
    </div>
</section>

//= views/footer.html