//= views/header.html
<section class="catalog sub-catalog">
    <div class="container">
        <div class="container-sub">
            <div class="row">
                <!-- Breadcrumbs -->
                <div class="col-md-12">
                    <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item" class="home">
                                <span itemprop="name">Главная</span>
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item" class="home">
                                <span itemprop="name">Каталог</span>
                            </a>
                        </li>
                        <li class="active">Жалюзи</li>
                    </ol>
                </div>
                <!-- //Breadcrumbs -->
            </div>

            <div class="main-gallery-banners" id="main-banners">
                <!-- sub catalog slider -->
                <div class="main-gallery-item">
                    <img src="img/banner.png" alt="">
                    <div class="main-gallery-caption">
                        Испанские жалюзи<br /> с дистанционным<br /> управлением
                        <br />
                    </div>
                </div>
                <div class="main-gallery-item">
                    <img src="img/banner.png" alt="">
                    <div class="main-gallery-caption">
                        Испанские жалюзи<br /> с дистанционным<br /> управлением
                        <br />
                    </div>
                </div>
                <!-- Sub Catalog Items Wrap -->

            </div>
            <!-- catalog item block -->
            <div class="row sub-cat">
                <div class="col-md-6">
                    <div class="sub-cat-item">
                        <a href=""><img src="img/sub-cat/1.png" alt="" class="img-responsive"></a>
                        <h2>
                            <a href="">Горизонтальные жалюзи</a>
                        </h2>
                        <p class="sub-cat-item-desc">
                            Ламели располагаются горизонтально и скрепляются между собой шнурами и капроновой лесенкой, выходящей из карниза, в котором расположен механизм управления.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="sub-cat-item">
                        <a href=""><img src="img/sub-cat/2.png" alt="" class="img-responsive"></a>
                        <h2>
                            <a href="">Вертикальные жалюзи</a>
                        </h2>
                        <p class="sub-cat-item-desc">
                            У вертикальных жалюзи ламели располагаются вертикально и крепятся к карнизу специальными держателями, снизу ламели скреплены случае алюминиевых и пластиковых жалюзи, либо при помощи грузиков,
                        </p>
                    </div>
                </div>
            </div>
            <!-- //catalog item block -->

            <!-- consultation wrap -->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-wrap form-wrap-top">
                        <div role="form">
                            <form id="form" method="post">
                                <div class="">
                                    <label for="exampleInputName2">Ваше имя</label>
                                    <input type="text" name="name" value="" size="40" class="form-control">
                                </div>
                                <div class="">
                                    <label for="exampleInputName2">Телефон</label>
                                    <input type="text" name="phone" value="" size="40" class="form-control">
                                </div>
                                <div class="">
                                    <input type="submit" value="Получить консультацию" class="get-orders-btn">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //consultation wrap  -->
        </div>

    </div>

</section>


//= views/footer.html