//= views/header.html
<section class="catalog inner-catalog">
    <div class="container">
        <div class="row">
            <!-- Breadcrumbs -->
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Главная</span>
                        </a>
                    </li>
                    <li class="active">Каталог</li>
                </ol>
            </div>
            <!-- //Breadcrumbs -->
        </div>
    </div>
    <!-- Top Navi -->
    <div class="main-gallery navi container">
        <div class="row navi-stick">
            <div class="col-sm-6 yellow">
                <div class="navi-stick-item">
                    <div class="navi-stick-item-name name"><a href="/">Интерьер решения</a></div>
                </div>
            </div>
            <div class="col-sm-6 blue">
                <div class="navi-stick-item">
                    <div class="navi-stick-item-name name"><a href="/">Экстерьер решения</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Top Navi -->

    <!-- Catalog Items Wrap -->
    <div class="container categories">
        <div class="row">
            <div class="col-sm-6 cats interior">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="cats-item">
                            <img src="img/cat/1.png" alt="" class="img-responsive">
                            <div class="cats-item-tag"><span>Жалюзи</span></div>
                            <div class="cats-item-data">
                                <div class="cats-item-data-name">Жалюзи</div>
                                <a href="catalag-sub.html" class="btn-more">Все жалюзи <i class=" fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cats-item">
                            <img src="img/cat/1.png" alt="" class="img-responsive">
                            <div class="cats-item-tag"><span>Москитные</span><br><span>сетки</span></div>
                            <div class="cats-item-data">
                                <div class="cats-item-data-name">Москитные сетки</div>
                                <a href="catalag-sub.html" class="btn-more">Все Москитные сетки <i class=" fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cats-item">
                            <img src="img/cat/1.png" alt="" class="img-responsive">
                            <div class="cats-item-tag"><span>Маркизы</span></div>
                            <div class="cats-item-data">
                                <div class="cats-item-data-name">Шторы</div>
                                <a href="catalag-sub.html" class="btn-more">Все Шторы <i class=" fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cats-item">
                            <img src="img/cat/1.png" alt="" class="img-responsive">
                            <div class="cats-item-tag"><span>Двери</span><br><span>гармошка</span></div>
                            <div class="cats-item-data">
                                <div class="cats-item-data-name">Двери гармошка</div>
                                <a href="catalag-sub.html" class="btn-more">Все двери гармошка <i class=" fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 cats exterior">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="cats-item">
                            <img src="img/cat/1.png" alt="" class="img-responsive">
                            <div class="cats-item-tag"><span>Автоматика</span></div>
                            <div class="cats-item-data">
                                <div class="cats-item-data-name">Автоматика</div>
                                <a href="catalag-sub.html" class="btn-more">Вся автоматика <i class=" fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cats-item">
                            <img src="img/cat/1.png" alt="" class="img-responsive">
                            <div class="cats-item-tag"><span>Маркизы</span></div>
                            <div class="cats-item-data">
                                <div class="cats-item-data-name">Маркизы</div>
                                <a href="" class="btn-more">Все маркизы <i class=" fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cats-item">
                            <img src="img/cat/1.png" alt="" class="img-responsive">
                            <div class="cats-item-tag"><span>Ворота</span></div>
                            <div class="cats-item-data">
                                <div class="cats-item-data-name">Ворота</div>
                                <a href="catalag-sub.html" class="btn-more">Все ворота <i class=" fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cats-item">
                            <img src="img/cat/1.png" alt="" class="img-responsive">
                            <div class="cats-item-tag"><span>Роллетны</span><br><span>защитные</span></div>
                            <div class="cats-item-data">
                                <div class="cats-item-data-name">Роллетны защитные</div>
                                <a href="catalag-sub.html" class="btn-more">Все роллетны защитные <i class=" fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Catalog Items Wrap -->

</section>


//= views/footer.html