//= views/header.html
<section class="page contacts-page">
    <div class="container">
        <div class="container-sub">
            <div class="row">
                <!-- Breadcrumbs -->
                <div class="col-md-12">
                    <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item" class="home">
                                <span itemprop="name">Главная</span>
                            </a>
                        </li>
                        <li class="active">Контакты</li>
                    </ol>
                </div>
                <!-- //Breadcrumbs -->
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Контакты
                    </h1>
                </div>
            </div>
            <div class="row contact">
                <div class="col-sm-4 contact-item">
                    <h3>Отдел розничных продаж</h3>
                    <ul>
                        <li>Украина, г. Киев<br> Воздухофлотский проспект, 56</li>
                        <li>
                            <span>+38 (044) 239-97-27</span>
                            <span>+38 (044) 244-97-91</span>
                            <span>+38 (050) 330-44-23 </span>
                        </li>
                        <li>
                            <a href="mailto:roznica@investoll.com.ua"><span>roznica@investoll.com.ua</span></a>
                            <span>Skype: investoll.roznica</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 contact-item">
                    <h3>Отдел оптовых продаж</h3>
                    <ul>
                        <li>Украина, г. Киев<br> Воздухофлотский проспект, 56</li>
                        <li>
                            <span>+38 (044) 251-80-61</span>
                            <span>+38 (099) 169-73-30</span>
                        </li>
                        <li>
                            <a href="mailto:roznica@investoll.com.ua"><span>roznica@investoll.com.ua</span></a>
                            <span>Skype: investoll.roznica</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 contact-item item-list">
                    <h3>Приглашаем к сотрудничеству</h3>
                    <ul>
                        <li>Дилеров</li>
                        <li>Строительные организации</li>
                        <li>Строительные магазины</li>
                        <li>Другие заинтересованных лиц </li>
                        <li>в нашей продукции</li>
                    </ul>
                </div>
            </div>
            <div class="row contact bottom">
                <div class="col-sm-4 contact-item">
                    <h3>производство</h3>
                    <ul>
                        <li>Украина, г. Киев<br> Воздухофлотский проспект, 56</li>
                        <li>
                            <a href="mailto:roznica@investoll.com.ua"><span>roznica@investoll.com.ua</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 contact-item">
                    <h3>отдел снабжения</h3>
                    <ul>
                        <li>Украина, г. Киев<br> Воздухофлотский проспект, 56</li>
                        <li>
                            <span>+38 (044) 251-80-61</span>
                        </li>
                        <li>
                            <a href="mailto:roznica@investoll.com.ua"><span>roznica@investoll.com.ua</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 contact-item">
                    <h3>Бухгалтерия</h3>
                    <ul>
                        <li>Украина, г. Киев<br> Воздухофлотский проспект, 56</li>
                        <li>
                            <span>+38 (044) 251-80-61</span>
                        </li>
                        <li>
                            <a href="mailto:roznica@investoll.com.ua"><span>roznica@investoll.com.ua</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="map">
                <div class="map" id="map"></div>
            </div>
        </div>

    </div>
</section>
<script>
    function initMap() {
        var uluru1 = {
            lat: 50.422312,
            lng: 30.455451
        };

        var styleArray = [{
            "featureType": "landscape.natural",
            "elementType": "geometry.fill",
            "stylers": [{
                "visibility": "on"
            }, {
                "color": "#e0efef"
            }]
        }, {
            "featureType": "poi",
            "elementType": "geometry.fill",
            "stylers": [{
                "visibility": "on"
            }, {
                "hue": "#1900ff"
            }, {
                "color": "#c0e8e8"
            }]
        }, {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [{
                "lightness": 100
            }, {
                "visibility": "simplified"
            }]
        }, {
            "featureType": "road",
            "elementType": "labels",
            "stylers": [{
                "visibility": "off"
            }]
        }, {
            "featureType": "transit.line",
            "elementType": "geometry",
            "stylers": [{
                "visibility": "on"
            }, {
                "lightness": 700
            }]
        }, {
            "featureType": "water",
            "elementType": "all",
            "stylers": [{
                "color": "#7dcdcd"
            }]
        }];
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: uluru1,
            //styles: styleArray,
            disableDefaultUI: true
        });

        var marker = new google.maps.Marker({
            position: uluru1,
            map: map,
        });

    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1hOl-e98LTatAInprI3hz4cs41iTW6Z0&callback=initMap"></script>
//= views/footer.html