//= views/header.html

<div class="main-gallery container">
    <div class="main-gallery-banners row" id="main-banners">
        <div class="main-gallery-item">
            <img src="img/slider.jpg" alt="">
            <div class="main-gallery-caption">
                Испанские жалюзи<br /> с дистанционным<br /> управлением
                <br />
            </div>
        </div>
        <div class="main-gallery-item">
            <img src="img/slider.jpg" alt="">
            <div class="main-gallery-caption">
                Испанские жалюзи<br /> с дистанционным<br /> управлением
                <br />
            </div>
        </div>
    </div>
    <div class="row main-gallery-stick">
        <div class="col-sm-6 yellow">
            <div class="main-gallery-stick-item">
                <div class="main-gallery-stick-item-name"><a href="catalog.html">Интерьер решения</a></div>
            </div>
        </div>
        <div class="col-sm-6 blue">
            <div class="main-gallery-stick-item">
                <div class="main-gallery-stick-item-name name"><a href="catalog.html">Экстерьер решения</a></div>
            </div>
        </div>
    </div>
</div>
<section class="home-catalog">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 interior">
                <div class="interior-item flex-row row">
                    <div class="col-mobile-6 interior-item-thumb">
                        <img width="150" height="150" src="img/int/8.jpg" class="img-circle">
                    </div>
                    <div class="col-mobile-6 interior-item-data">
                        <h4 class="interior-item-data-name">Жалюзи</h4>
                        <div class="interior-item-data-link"><a href="catalag-sub.html">Все жалюзи<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="sqr"></div>
                </div>
                <div class="interior-item flex-row row">
                    <div class="col-mobile-6 interior-item-thumb">
                        <img width="150" height="150" src="img/int/5.jpg" class="img-circle">
                    </div>
                    <div class="col-mobile-6 interior-item-data">
                        <h4 class="interior-item-data-name">Шторы</h4>
                        <div class="interior-item-data-link"><a href="catalag-sub.html">Все шторы<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="sqr"></div>
                </div>
                <div class="interior-item flex-row row">
                    <div class="col-mobile-6 interior-item-thumb">
                        <img width="150" height="150" src="img/int/4.jpg" class="img-circle">
                    </div>
                    <div class="col-mobile-6 interior-item-data">
                        <h4 class="interior-item-data-name">Москитные сетки</h4>
                        <div class="interior-item-data-link"><a href="catalag-sub.html">Все Москитные сетки<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="sqr"></div>
                </div>
                <div class="interior-item flex-row row">
                    <div class="col-mobile-6 interior-item-thumb">
                        <img width="150" height="150" src="img/int/3.jpg" class="img-circle">
                    </div>
                    <div class="col-mobile-6 interior-item-data">
                        <h4 class="interior-item-data-name">Двери-гармошка</h4>
                        <div class="interior-item-data-link"><a href="catalag-sub.html">Все Двери-гармошка<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="sqr"></div>
                </div>
            </div>
            <div class="col-sm-6 exterior">
                <div class="exterior-item flex-row row">
                    <div class="col-mobile-6 exterior-item-thumb">
                        <img width="150" height="150" src="img/int/2.jpg" class="img-circle">
                    </div>
                    <div class="col-mobile-6 exterior-item-data">
                        <h4 class="exterior-item-data-name">Автоматика</h4>
                        <div class="exterior-item-data-link"><a href="catalag-sub.html">Вся Автоматика<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="sqr"></div>
                </div>
                <div class="exterior-item flex-row row">
                    <div class="col-mobile-6 exterior-item-thumb">
                        <img width="150" height="150" src="img/int/7.jpg" class="img-circle">
                    </div>
                    <div class="col-mobile-6 exterior-item-data">
                        <h4 class="exterior-item-data-name">Маркизы</h4>
                        <div class="exterior-item-data-link"><a href="catalag-sub.html">Все маркизы<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="sqr"></div>
                </div>
                <div class="exterior-item flex-row row">
                    <div class="col-mobile-6 exterior-item-thumb">
                        <img width="150" height="150" src="img/int/1.jpg" class="img-circle">
                    </div>
                    <div class="col-mobile-6 exterior-item-data">
                        <h4 class="exterior-item-data-name">Ворота</h4>
                        <div class="exterior-item-data-link"><a href="catalag-sub.html">Все Ворота<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="sqr"></div>
                </div>
                <div class="exterior-item flex-row row">
                    <div class="col-mobile-6 exterior-item-thumb">
                        <img width="150" height="150" src="img/int/6.jpg" class="img-circle">
                    </div>
                    <div class="col-mobile-6 exterior-item-data">
                        <h4 class="exterior-item-data-name">Роллеты защитные</h4>
                        <div class="exterior-item-data-link"><a href="catalag-sub.html">Все Роллеты защитные<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="sqr"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center readmore-wrap">
                <button type="button" class="btn btn-large btn-default btn-theme">Смотреть все решения</button>
            </div>
        </div>
    </div>
</section>
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>
                    Почему мы?
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="why-us-item">
                    <div class="why-us-item-count">17 лет</div>
                    <div class="why-us-item-caption"> На рынке <br /> Украины</div>
                    <div class="bull"></div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="why-us-item">
                    <div class="why-us-item-count">2 цеха</div>
                    <div class="why-us-item-caption">Собственное<br /> производство
                    </div>
                    <div class="bull"></div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="why-us-item">
                    <div class="why-us-item-count">10 000</div>
                    <div class="why-us-item-caption">Проектов под<br /> ключ
                    </div>
                    <div class="bull"></div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="why-us-item">
                    <div class="why-us-item-count">5 000</div>
                    <div class="why-us-item-caption">Наиминований<br /> товаров
                    </div>
                    <div class="bull"></div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="why-us-item">
                    <div class="why-us-item-count">2 000</div>
                    <div class="why-us-item-caption">Довольных<br /> клиентов
                    </div>
                    <div class="bull"></div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="why-us-item">
                    <div class="why-us-item-count">3 года</div>
                    <div class="why-us-item-caption"> Гарантии на свою<br /> продукцию
                    </div>
                    <div class="bull"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>
                    Наши клиенты
                </h2>
            </div>
            <div class="col-sm-12 slider-bg-gray">
                <ul class="clients-slider">
                    <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                    <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                    <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                    <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                    <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                    <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
</section>

//= views/footer.html