//= views/header.html
<section class="page partners-page">
    <div class="container">
        <div class="container-sub">
            <div class="row">
                <!-- Breadcrumbs -->
                <div class="col-md-12">
                    <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item" class="home">
                                <span itemprop="name">Главная</span>
                            </a>
                        </li>
                        <li class="active">Партнеры</li>
                    </ol>
                </div>
                <!-- //Breadcrumbs -->
            </div>

            <div class="row">
                <div class="col-md-12 partners">
                    <h1>
                        Партнерам
                    </h1>
                    <div class="partners-top">
                        <h4>
                            Мы команда профессионалов, и досконально изучили все пожелания наших<br> клиентов. Таким образом, мы готовы предложить Вам самые привлекательные цены.
                        </h4>
                        <div class="two-column-block">
                            <p>Команда «Инвестолл» – профессионалы высокого уровня. Мы знаем все, о солнцезащитных системах и установке жалюзи и с радостью готовы проконсультировать Вас в этом. Ведущие специалисты нашей компании внимательно следят за новинками
                                на рынке солнцезащитных систем и регулярно посещают международные выставки. Наши специалисты помогут Вам в выборе, объяснят основные отличия разных типов жалюзи, проинформируют о преимуществах той или иной солнцезащитной
                                системы. Команда «Инвестолл» – профессионалы высокого уровня. Мы знаем все, о солнцезащитных системах и установке жалюзи и с радостью готовы проконсультировать Вас в этом. Ведущие специалисты нашей компании внимательно
                                следят за новинками на рынке солнцезащитных систем и регулярно посещают международные выставки.</p>
                        </div>
                    </div>
                    <div class="partners-middle">
                        <img src="img/partners.jpg" class="img-responsive" alt="">
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<section class="why-us">
    <div class="container">
        <div class="container-sub">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>
                        Преимущество работы с нами
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="why-us-item">
                        <div class="why-us-item-count">17 лет</div>
                        <div class="why-us-item-caption"> На рынке <br /> Украины</div>
                        <div class="bull"></div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="why-us-item">
                        <div class="why-us-item-count">2 цеха</div>
                        <div class="why-us-item-caption">Собственное<br /> производство
                        </div>
                        <div class="bull"></div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="why-us-item">
                        <div class="why-us-item-count">10 000</div>
                        <div class="why-us-item-caption">Проектов под<br /> ключ
                        </div>
                        <div class="bull"></div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="why-us-item">
                        <div class="why-us-item-count">5 000</div>
                        <div class="why-us-item-caption">Наиминований<br /> товаров
                        </div>
                        <div class="bull"></div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="why-us-item">
                        <div class="why-us-item-count">2 000</div>
                        <div class="why-us-item-caption">Довольных<br /> клиентов
                        </div>
                        <div class="bull"></div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="why-us-item">
                        <div class="why-us-item-count">3 года</div>
                        <div class="why-us-item-caption"> Гарантии на свою<br /> продукцию
                        </div>
                        <div class="bull"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page our-partners">
    <div class="container">
        <div class="container-sub">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>
                        Нашими клиентами являются
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="our-partners-list row">
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                        <li><img src="img/clients/lookout-422x_.png" alt=""></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center readmore-wrap">
                    <a href="#partner" class="popup-with-zoom-anim btn btn-large btn-default btn-theme">Стать партнером</a>
                </div>
            </div>
        </div>
    </div>
</section>

//= views/footer.html