//= views/header.html
<section class="page product-page calculator-page">
    <div class="container">
        <div class="container-sub">
            <div class="row">
                <!-- Breadcrumbs -->
                <div class="col-md-12">
                    <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item" class="home">
                                <span itemprop="name">Главная</span>
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item" class="home">
                                <span itemprop="name">Продукция</span>
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item" class="home">
                                <span itemprop="name">Автоматика</span>
                            </a>
                        </li>
                        <li class="active">Товар</li>
                    </ol>
                </div>
                <!-- //Breadcrumbs -->
            </div>
            <!-- producr info Container-->
            <div class="row product">
                <div class="product-data">
                    <div class="col-md-5 col-sm-12">
                        <div class="photo">
                            <div class="photo-placeholder">
                                <div id="item-pic-wrap" class="photo-placeholder-item">
                                    <img class="img-responsive" id="item-pic" data-id="" src="img/window.png" alt="">
                                </div>
                                <div class="add-info">
                                    <span class="roud"><i class="fa fa-info" aria-hidden="true"></i></span>Дополнительная информация по замеру
                                </div>
                                <div class="info">
                                    <h2>Замер по вертикали</h2>
                                    <p>
                                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое
                                        не получается при простой дубликации "Здесь ваш текст..
                                    </p>
                                    <h2>Замер по горизонтали</h2>
                                    <p>
                                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое
                                        не получается при простой дубликации "Здесь ваш текст..
                                    </p>
                                    <button class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="type1 calculator">
                            <h1>Жалюзи горизонтальные</h1>
                            <form id="calc" action="" class="ver-jalus" data-product_id="3398">
                                <div class="calculator-wrap">
                                    <!-- choose top block -->
                                    <div class="row">
                                        <div class="col-md-6" id="select">
                                            <div class="widget color" data-select="select-color-block">
                                                <div class="widget-title">Цвет</div>
                                                <div class="widget-body">
                                                    <div class="select select-color" id="select-color">
                                                        <div class="img"><img src="img/color.png" alt="" width="32" height="32"></div>
                                                        <div class="value color-value" id="col-value">
                                                            Белый
                                                        </div>
                                                        <div class="arrow">
                                                            <i class="fa fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget material" data-select="select-material-block">
                                                <div class="widget-title">Материал</div>
                                                <div class="widget-body">
                                                    <div class="select select-material" id="select-material">
                                                        <div class="img">
                                                            <img src="img/structure.png" alt="" width="32" height="32">
                                                        </div>
                                                        <div class="value color-value" id="mat-value">
                                                            Ткань
                                                        </div>
                                                        <div class="arrow">
                                                            <i class="fa fa-angle-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget strucutre">
                                                <div class="widget-title">Фиксация</div>
                                                <div class="widget-body">
                                                    <div class="body slat-width-body row">
                                                        <label class="control control--radio radio-inline col-md-12 col-lg-4">Нижняя 
                                                            <input id="fix_type_bottom" type="radio" name="fix_type" value="Нижняя" checked>
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                        <label class="control control--radio radio-inline col-md-12 col-lg-4">Струна
                                                            <input id="fix_type_str" type="radio" name="fix_type" value="Струна">
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget strucutre">
                                                <div class="widget-title">Страна производитель</div>
                                                <div class="widget-body">
                                                    <div class="body slat-width-body row">
                                                        <label class="control control--radio radio-inline col-md-12 col-lg-4">Украина
                                                            <input type="radio" name="country" value="Украина" checked>
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                        <label class="control control--radio radio-inline col-md-12 col-lg-4">Китай
                                                            <input type="radio" name="country" value="Китай">
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                        <label class="control control--radio radio-inline col-md-12 col-lg-4">Германия
                                                            <input type="radio" name="country" value="Германия">
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="select-block-wrap">
                                            <div class="select-block select-color-block">
                                                <ol id="select-1" data-target="col-value">
                                                    <li class="ui-widget-content" data-image="img/window.png"><img src="img/color.png" alt="" width="32" height="32">Зеленый</li>
                                                    <li class="ui-widget-content" data-image="img/window2.png"><img src="img/color.png" alt="" width="32" height="32">Красный</li>
                                                    <li class="ui-widget-content" data-image="img/window.png"><img src="img/color.png" alt="" width="32" height="32">Розовый</li>
                                                    <li class="ui-widget-content" data-image="img/window2.png"><img src="img/color.png" alt="" width="32" height="32">Бирюзовый</li>
                                                    <li class="ui-widget-content" data-image="img/window.png"><img src="img/color.png" alt="" width="32" height="32">Серебристый</li>
                                                    <li class="ui-widget-content" data-image="img/window2.png"><img src="img/color.png" alt="" width="32" height="32">Бронзовый</li>
                                                    <li class="ui-widget-content" data-image="img/window.png"><img src="img/color.png" alt="" width="32" height="32">Бирюзовый</li>
                                                    <li class="ui-widget-content" data-image="img/window2.png"><img src="img/color.png" alt="" width="32" height="32">Серебристый</li>
                                                    <li class="ui-widget-content" data-image="img/window.png"><img src="img/color.png" alt="" width="32" height="32">Бронзовый</li>
                                                </ol>
                                            </div>
                                            <div class="select-block select-material-block">
                                                <ol id="select-2" data-target="mat-value">
                                                    <li class="ui-widget-content" data-image="img/window2.png"><img src="img/structure.png" alt="" width="32" height="32">Алюминий</li>
                                                    <li class="ui-widget-content" data-image="img/window.png"><img src="img/structure.png" alt="" width="32" height="32">Бамбук</li>
                                                    <li class="ui-widget-content" data-image="img/window.png"><img src="img/structure.png" alt="" width="32" height="32">Пластик</li>
                                                    <li class="ui-widget-content" data-image="img/window2.png"><img src="img/structure.png" alt="" width="32" height="32">Ткань</li>
                                                    <li class="ui-widget-content" data-image="img/window.png"><img src="img/structure.png" alt="" width="32" height="32">Дерево</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- // end choose top block -->

                                    <div class="row square">
                                        <div class="col-md-12 square-title">
                                            Моя расчетная площадь
                                            <p>Минимальная расчетная площдь 1м2</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="square-block">
                                                <div class="square-block-item width col-xs-6">
                                                    <label for="width">Ширина(L)</label>
                                                    <div class="input-wrap">
                                                        <input type="text" name="width" id="width" placeholder="100">
                                                        <div class="placeholder">мм</div>
                                                    </div>
                                                </div>
                                                <div class="square-block-item height col-xs-6">
                                                    <label for="height">Высота(H)</label>
                                                    <div class="input-wrap">
                                                        <input type="text" name="height" id="height" placeholder="100">
                                                        <div class="placeholder">мм</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="panel-group col-md-12" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title">
                                                        <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            <span class="text">Дополнительные параметры</span>
                                                            <span class="hide-panel"><span id="text" class="hidden-xs">Скрыть</span><span class="icon-close"></span></span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        <div class="collapse-item slat-width">
                                                            <div class="title slat-width-title">
                                                                Ширина ламели
                                                            </div>
                                                            <div class="body slat-width-body row">
                                                                <label class="control control--radio radio-inline col-md-4">89 мм
                                                                <input type="radio" name="lamel_width" value="89 мм" checked>
                                                                <div class="control__indicator"></div>
                                                            </label>
                                                                <label class="control control--radio radio-inline col-md-4">127 мм
                                                                <input type="radio" name="lamel_width" value="127 мм">
                                                                <div class="control__indicator"></div>
                                                            </label>
                                                            </div>
                                                        </div>
                                                        <div class="collapse-item">
                                                            <div class="title ">
                                                                Тип управления
                                                            </div>
                                                            <div class="body slat-width-body row">
                                                                <div class="manager type col-md-3">
                                                                    <input id="1" type="radio" name="1" checked>
                                                                    <label for="1"><img src="img/icon/left.png" alt=""></label>
                                                                </div>
                                                                <div class="manager type col-md-3">
                                                                    <input id="toggle3" type="radio" name="1">
                                                                    <label for="toggle3"><img src="img/icon/right.png" alt=""></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row quantity-wrap">
                                        <div class="col-md-12">
                                            <div class="collapse-item">
                                                <div class="title ">
                                                    Количество
                                                </div>
                                                <div class="body row">
                                                    <div class="col-md-3 col-xs-12 col-sm-3 ">
                                                        <div class="quantity">
                                                            <div class="quantity-button quantity-down">-</div>
                                                            <input type="number" min="1" max="9" step="1" value="1">
                                                            <div class="quantity-button quantity-up">+</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-xs-12 col-sm-9">
                                                        <button type="submit" id="add-to-cart" class="btn-theme btn btn-default">Добавить позицию в счет</button>
                                                        <input type="hidden" name="add-to-cart" value="3398">
                                                        <input type="hidden" name="product_id" value="3398">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row order-wrap" id="order">
                <div class="order-data">
                    <div class="order-data-content col-md-10">
                        <div class="col-md-12">
                            <div class="order-title row">
                                <div class="col-md-8">
                                    <h2>Заявка на товар</h2>
                                </div>
                                <div class="col-md-4"><a href="" id="add"> Добавить товар <span class="add-product"><i class="fa fa-plus" aria-hidden="true"></i></span></a></div>
                            </div>
                        </div>
                        <div class="col-md-12 order-number">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="order-number-title">Cчет-фактура № 1346 от 03.26.2017г.</div>
                                    <div class="order-number-sub-title">Счет-фактура действует 1 банковский день </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 table">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="">
                                        <table class="table shop_table shop_table_responsive cart">
                                            <thead>
                                                <tr>
                                                    <th>Цвет</th>
                                                    <th>Материал</th>
                                                    <th>Ширина ламели</th>
                                                    <th>Структура</th>
                                                    <th>Управление</th>
                                                    <th>Площадь</th>
                                                    <th>Количество</th>
                                                    <th>Сумма</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-title="Цвет" class="color"><img src="img/color.png" alt="" width="32" height="32" /> Белый</td>
                                                    <td data-title="Материал" class="material">Аллюминий</td>
                                                    <td data-title="Ширина ламели" class="panel-width">25 мм</td>
                                                    <td data-title="Структура" class="str">Офелия</td>
                                                    <td data-title="Управление" class="mngr">Правое</td>
                                                    <td data-title="Площадь" class="sqr">12 <sup>м2</sup></td>
                                                    <td data-title="Количество" class="qty">
                                                        <div class="quantity">
                                                            <div class="quantity-button quantity-down">-</div>
                                                            <input type="number" min="1" max="9" step="1" value="1">
                                                            <div class="quantity-button quantity-up">+</div>
                                                        </div>
                                                    </td>
                                                    <td data-title="Сумма" class="pre-summ">
                                                        <div class="pre-sum-wrap">
                                                            12 880, 00 грн
                                                            <a href="" class="remove" title="Удалить эту позицию" data-product_id="3398"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td data-title="Цвет" class="color"><img src="img/color.png" alt="" width="32" height="32" /> Cиний</td>
                                                    <td data-title="Материал" class="material">Дерево</td>
                                                    <td data-title="Ширина ламели" class="panel-width">16 мм</td>
                                                    <td data-title="Структура" class="str">Офелия</td>
                                                    <td data-title="Управление" class="mngr">Левое</td>
                                                    <td data-title="Площадь" class="sqr">48 <sup>м2</sup></td>
                                                    <td data-title="Количество" class="qty">
                                                        <div class="quantity">
                                                            <div class="quantity-button quantity-down">-</div>
                                                            <input type="number" min="1" max="9" step="1" value="1">
                                                            <div class="quantity-button quantity-up">+</div>
                                                        </div>
                                                    </td>
                                                    <td data-title="Сумма" class="pre-summ">
                                                        <div class="pre-sum-wrap">
                                                            17 880, 00 грн
                                                            <a href="" class="remove" title="Удалить эту позицию" data-product_id="3398"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="summary">
                                                    <td colspan="7" class="">
                                                        <h4>
                                                            Дополнительние услуги
                                                        </h4>
                                                        <p>
                                                            Стоимость услуг оговаривается с менеджером
                                                        </p>
                                                        <ul class="row adding-service">
                                                            <li class="col-lg-2 col-md-3 col-sm-3">
                                                                <div style="margin: 0;" class="checkbox">
                                                                    <label class="control control--radio">Доставка
                                                                        <input type="checkbox" value="Доставка" name="add_service" checked/>
                                                                        <div class="control__indicator"></div>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li class="col-lg-2 col-md-3 col-sm-3">
                                                                <div style="margin: 0;" class="checkbox">
                                                                    <label class="control control--radio">Установка
                                                                        <input type="checkbox" value="Установка" name="add_service"/>
                                                                        <div class="control__indicator"></div>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li class="col-lg-2 col-md-3 col-sm-3">
                                                                <div style="margin: 0;" class="checkbox">
                                                                    <label class="control control--radio">Замер
                                                                    <input type="checkbox" value="Замер" name="add_service" />
                                                                    <div class="control__indicator"></div>
                                                                </label>
                                                                </div>
                                                            </li>
                                                        </ul>

                                                    </td>
                                                    <td>
                                                        <div class="summary-title">
                                                            Итого
                                                        </div>
                                                        <div class="summary-value">
                                                            17 880, 00 грн
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="order-btn-container text-center">
                                        <button type="submit" class="btn-theme btn btn-default">УЗНАТЬ СТОИМОСТЬ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


//= views/footer.html