//= views/header.html
<section class="page product-page">
    <div class="container">
        <div class="container-sub">
            <div class="row">
                <!-- Breadcrumbs -->
                <div class="col-md-12">
                    <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item" class="home">
                                <span itemprop="name">Главная</span>
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item" class="home">
                                <span itemprop="name">Продукция</span>
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item" class="home">
                                <span itemprop="name">Автоматика</span>
                            </a>
                        </li>
                        <li class="active">Товар</li>
                    </ol>
                </div>
                <!-- //Breadcrumbs -->
            </div>
            <!-- producr info Container-->
            <div class="row product">
                <div class="col-md-5 col-sm-12">
                    <div class="product-gallery connected-carousels">
                        <div class="row">
                            <!-- photo -->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="item-photo">
                                    <div class="item-photo-carousel carousel carousel-stage" data-jcarousel="true">
                                        <ul class="">
                                            <li>
                                                <a href="img/prod/item.png" class="prod-img" style="background-image:url(img/prod/item.png);"></a>
                                            </li>
                                            <li>
                                                <a href="img/prod/item.png" class="prod-img" style="background-image:url(img/prod/item2.png);"></a>
                                            </li>
                                            <li>
                                                <a href="img/prod/item.png" class="prod-img" style="background-image:url(img/prod/item3.png);"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /photo -->
                            <!-- photow control -->
                            <div class="hidden-xs hidden-sm col-md-12 col-lg-12">
                                <div class="item-photo-control">
                                    <div class="item-photo-control-carousel carousel carousel-navigation" data-jcarousel="true">
                                        <ul class="">
                                            <li data-jcarouselcontrol="true" class=""><span style="background-image:url(img/prod/item.png)"></span></li>
                                            <li data-jcarouselcontrol="true" class=""><span style="background-image:url(img/prod/item2.png)"></span></li>
                                            <li data-jcarouselcontrol="true" class="active"><span style="background-image:url(img/prod/item3.png);"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- //photo control -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="product-info">
                        <h1>Товар</h1>
                        <div class="product-info-decription">
                            <p>Каждый человек, который хоть раз в жизни сталкивался с нелегким выбором жалюзи на окна, понимает, что среди богатого разнообразия можно найти изделия самого разного качества, затратив разное количество времени и денег.</p>

                            <p> Вопрос о том, сколько стоят качественные жалюзи на окна в Москве и в городах ближайшего Подмосковья, вполне логичен. Компания «Панорама Оконный Супермаркет» представляет вашему вниманию высококачественные жалюзи, которые прослужат
                                вам долгие годы и будут радовать глаз.</p>

                            <p>Стоит отметить, что за качественное изделие лучше заплатить больше. Экономия, как правило, приводит к тому, что жалюзи подбираются не по размеру, оставляют щели в окне, через которые проникают прямые солнечные лучи. Нередки
                                случаи, когда жалюзи закрывают слишком много места, нарушая функциональное пространство помещения и делая эксплуатацию неудобной.</p>

                        </div>
                        <div class="product-info-btn-container">
                            <a href="#consult" class="btn-theme btn btn-default popup-with-zoom-anim">
                                Заказать консультацию
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row features">
                <div class="col-md-12">
                    <h2>
                        Преимущества
                    </h2>
                    <ul>
                        <li>Сделаны из практичных материалов, <br> которые легко поддаются чистке</li>
                        <li>Великолепно смотрятся как в офисных помещениях, <br> так и в домашней обстановке</li>
                        <li>Позволяют быстро регулировать уровень <br> освещенности и подачи света</li>
                        <li>Соответствуют экологическим стандартам <br> международным требованиям безопасности</li>
                        <li>Прочны, не поддаются деформациям и <br> выцветанию
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="completed-work">
    <div class="container">
        <div class="container-sub">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Реализованные работы
                    </h2>
                    <ul class="works row">
                        <li><img src="img/work/1.png" alt=""></li>
                        <li><img src="img/work/2.png" alt=""></li>
                        <li><img src="img/work/3.png" alt=""></li>
                        <li><img src="img/work/4.png" alt=""></li>
                        <li><img src="img/work/5.png" alt=""></li>
                        <li><img src="img/work/6.png" alt=""></li>
                        <li><img src="img/work/6.png" alt=""></li>
                        <li><img src="img/work/6.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


//= views/footer.html