//= views/header.html
<section class="page single-news-page">
    <div class="container">
        <div class="container-sub">
            <div class="row">
                <!-- Breadcrumbs -->
                <div class="col-md-12">
                    <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item" class="home">
                                <span itemprop="name">Главная</span>
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item" class="home">
                                <span itemprop="name">Новости</span>
                            </a>
                        </li>
                        <li class="active">Новость</li>
                    </ol>
                </div>
                <!-- //Breadcrumbs -->
            </div>
            <div class="row">
                <div class="col-md-12 single-news">
                    <img src="img/single-news.jpg" class="img-responsive" alt="">
                    <div class="row single-news-title">
                        <div class="col-md-4">
                            <h1>
                                В продажу поступили новые цветовые схемы
                            </h1>
                        </div>
                    </div>
                    <div class="row single-news-sub-title">
                        <div class="col-md-8">
                            <h4>В продажу поступили более 30-ти новый цветовых решений, что даёт нам возможность удвалитворить даже самого требовательного клиента.</h4>
                        </div>
                    </div>
                    <div class="single-news-body two-column-block">
                        <p>
                            Команда «Инвестолл» – профессионалы высокого уровня. Мы знаем все, о солнцезащитных системах и установке жалюзи и с радостью готовы проконсультировать Вас в этом. Ведущие специалисты нашей компании внимательно следят за новинками на рынке солнцезащитных
                            систем и регулярно посещают международные выставки. Наши специалисты помогут Вам в выборе, объяснят основные отличия разных типов жалюзи, проинформируют о преимуществах той или иной солнцезащитной системы. Команда «Инвестолл
                            – профессионалы высокого уровня. Мы знаем все, о солнцезащитных системах и установке жалюзи и с радостью готовы проконсультировать Вас в этом. Ведущие специалисты нашей компании внимательно следят за новинками на рынке солнцезащитных
                            систем и регулярно посещают международные выставки.</p>
                    </div>
                </div>
            </div>
            <div class="row pagination-wrap">
                <div class="col-md-4 text-sm-left text-xs-center"><a href="/" class="back"><i class="fa fa-angle-left" aria-hidden="true"></i><span>Назад к новостям</span></a></div>
            </div>
        </div>

    </div>
</section>


//= views/footer.html