/**** About Page ***/

.about {
    padding-bottom: 80px;
    & h1 {
        font-size: 30px;
        font-family: "Boxed Medium It";
        color: rgb(0, 0, 0);
        font-style: italic;
        line-height: 1.2;
        text-align: left;
    }
    p {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 1.5;
        text-align: left;
    }
    &-top {
        & h4 {
            color: rgb(0, 0, 0);
            line-height: 1.444;
            text-align: left;
            margin: 25px 0 40px 0;
            font-family: 'Cuprum', sans-serif;
            font-weight: 700;
        }
    }
    &-middle {
        margin-top: 60px;
        h2 {
            margin: 44px 0 23px 0;
            line-height: 1;
        }
    }
}

.about-page+.why-us {
    .container {
        background: #fff;
    }
}