/* +++++++++++++++++++++++++++++++++++++++++++
   Product Carusel
++++++++++++++++++++++++++++++++++++++++++++*/

.product-gallery {
    margin: 10px 0;
}

.item-photo {
    position: relative;
    width: 100%;
    height: 0px;
    padding: 0 0 90%;
    margin: 0px;
}

.item-photo-carousel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item-photo-carousel ul {
    width: 20000em;
    height: 100%;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-photo-carousel li {
    display: block;
    height: 100%;
    float: left;
    margin: 0px;
    padding: 0 40px;
}

.item-photo-carousel li>a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    cursor: -webkit-zoom-in;
}

.item-photo .next,
.item-photo .prev {
    display: block;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 0px;
    padding: 0px;
    margin: -20px 0px 0px 0px;
    color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    filter: alpha(opacity=0);
}

.item-photo:hover .next,
.item-photo:hover .prev {
    opacity: 1;
    filter: alpha(opacity=100);
}

.item-photo .next:hover,
.item-photo .prev:hover {
    color: rgba(0, 0, 0, 1);
}

.item-photo .prev {
    right: auto;
    left: 0px;
}

.item-photo .next span,
.item-photo .prev span {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
}

.item-photo-control {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 0px;
    margin: 0px;
}

.item-photo-control-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item-photo-control-carousel ul {
    width: 100%;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 0!important;
    left: 0;
    text-align: center;
}

.item-photo-control-carousel li {
    display: inline-block;
    width: 100%;
    max-width: 65px;
    margin: 0 10px;
    @media screen and (min-width: 1200px) {
        margin: 0 30px;
    }
    padding: 0 0 5px 0;
    position: relative;
    border-bottom: 2px solid #e6e6e6;
}

.item-photo-control-carousel li.active {
    border-bottom: 2px solid #facc28;
}

.item-photo-control-carousel li>span {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.item-photo-control-carousel li>span:after {
    display: none;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.5);
}

.item-photo-control-carousel li.active>span:after {
    display: block;
}

.item-photo-control .next,
.item-photo-control .prev {
    display: block;
    text-decoration: none;
    position: absolute;
    bottom: 0%;
    left: 50%;
    padding: 0px;
    margin: 0px 0px 0px -15px;
    color: rgba(0, 0, 0, 0.1);
}

.item-photo-control .next:hover,
.item-photo-control .prev:hover {
    color: rgba(0, 0, 0, 1);
}

.item-photo-control .prev {
    bottom: auto;
    top: 0px;
}

.item-photo-control .next span,
.item-photo-control .prev span {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
}

.item-photo-control-carousel .outofstock li>span:before,
.item-photo-carousel .outofstock li>a:before {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.41);
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';
}

.item-photo-carousel .outofstock li>a:before {
    background-color: rgba(0, 0, 0, 0.11);
}

.item-photo-zoom {
    display: none;
    width: 100%;
    height: 100%;
}

.item-photo-zoom>img {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.fullscreen {
    overflow: hidden;
}

.fullscreen .item-gallery {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-height: 500px;
    padding: 0px 20px;
    margin: 0px;
    background-color: #ffffff;
    z-index: 99999;
}

.fullscreen .item-gallery>div {
    height: 100%;
    padding: 0px;
}

.fullscreen .item-photo-control {
    top: 10%;
    height: 80% !important;
    width: 35%;
    margin: 0px auto;
}

.fullscreen .item-photo {
    display: none;
}

.fullscreen .item-photo-zoom {
    display: block;
}

#hidefullscreen {
    display: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 10;
    color: rgba(0, 0, 0, 0.5);
}

#hidefullscreen:hover {
    color: rgba(0, 0, 0, 1);
}

.fullscreen #hidefullscreen {
    display: block;
}