/******* Inner Catalog *******/

.catalog {
    .container {
        background: #f3f3f3;
    }
    .navi {
        padding-top: 25px;
        &-stick {
            width: unset;
        }
    }
}

.categories {
    padding-top: 35px;
    padding-bottom: 70px;
    .cats {
        & .row {
            & div[class*='col-'] {
                &:nth-child(n+3) {
                    margin-top: 15px;
                }
            }
        }
        &-item {
            display: block;
            border: 4px solid transparent;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            cursor: pointer;
            &:before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0.7;
                background-image: -webkit-linear-gradient(bottom, #020202 0%, rgba(29, 29, 29, 0.2) 19%, rgba(47, 47, 47, 0.87) 100%);
                background-image: linear-gradient(to top, #020202 0%, rgba(29, 29, 29, 0.2) 19%, rgba(47, 47, 47, 0.87) 100%);
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
            img {
                margin-right: auto;
                margin-left: auto;
                width: 100%;
                height: 100%;
            }
            &-tag {
                position: absolute;
                top: 15px;
                left: 15px;
                color: #fff;
                line-height: 1;
                & span {
                    font-size: 22px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
            &-data {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                text-align: center;
                left: 0;
                width: 100%;
                transition: all 0.3s ease;
                opacity: 0;
                & .btn-more {
                    display: block;
                    width: 100%;
                    border: 2px solid #edcb3e;
                    color: #fff;
                    padding: 17px 31px;
                    text-transform: uppercase;
                    font-size: 16px;
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                    outline: 0;
                    text-decoration: none;
                    background: transparent;
                    border-radius: 0;
                    max-width: 180px;
                    text-align: center;
                    margin: 50px auto 0 auto;
                    padding: 15px 0;
                    font-size: 12px;
                    letter-spacing: 1px;
                }
                &-name {
                    color: #fff;
                    font-size: 24px;
                    text-transform: uppercase;
                }
            }
        }
        &.interior {
            .cats-item {
                &-tag {
                    span {
                        background: #d6b734;
                    }
                }
                &:hover {
                    border-color: #facc28;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    &:before {
                        background: #727723;
                    }
                }
                &:hover {
                    & .cats-item-data {
                        opacity: 1;
                    }
                    .cats-item-tag {
                        opacity: 0;
                    }
                }
            }
        }
        &.exterior {
            .cats-item {
                &-tag {
                    span {
                        background: #233a83;
                    }
                }
                &:hover {
                    border-color: #233a83;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    &:before {
                        background: #233a83;
                    }
                }
                &:hover {
                    & .cats-item-data {
                        opacity: 1;
                    }
                    .cats-item-tag {
                        opacity: 0;
                    }
                }
            }
        }
    }
}

.sub-catalog {
    & .main-gallery-banners {
        margin-top: 25px;
    }
    & .sub-cat {
        padding-top: 47px;
        padding-bottom: 68px;
        &-item {
            h2 {
                margin: 25px 0 15px 0;
            }
            a {
                color: #000;
                text-decoration: none;
                transition: all 0.3s esse;
                &:hover,
                &:focus {
                    opacity: 0.8;
                }
            }
            p {
                color: #000;
                font-size: 16px;
            }
        }
    }
}

.main-gallery-banners {
    & .main-gallery-caption {
        color: #fff;
        z-index: 999;
    }
    & .slick-dots {
        bottom: unset;
        top: 50%;
        left: 50px;
        margin-top: 0;
        transform: translate(0, -50%);
        position: absolute;
        li {
            min-width: 2px;
            margin: 0;
            height: 75px;
            width: 2px;
            display: block;
            background: #b3b3b3;
        }
        li.slick-active {
            background: #facc28;
            WIDTH: 3PX;
        }
    }
    & .slick-slide {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
        }
    }
}

.form-wrap {
    background: #ffffff;
    padding: 40px 0;
    text-align: center;
    margin-bottom: 45px;
    line-height: 1;
    form {
        line-height: 1;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        & div {
            flex-basis: 34%;
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: baseline;
            align-content: flex-end;
            justify-content: flex-start;
            &:nth-child(3) {
                justify-content: center;
                flex-basis: 32%;
            }
            label {
                line-height: 1;
                padding-right: 5px;
                align-self: center;
                padding-left: 10px;
                justify-content: center;
            }
        }
        label {
            font-size: 16px;
            display: flex;
            width: 35%;
            flex-direction: row;
            margin-bottom: -5px;
        }
        .form-group {
            margin-right: 15px;
        }
        .form-control {
            border-width: 0;
            border-bottom-width: 1px;
            box-shadow: none;
            border-radius: 0;
            padding: 0;
            line-height: 1;
            height: auto;
            font-size: 16px;
            align-self: center;
        }
        input[type="submit"] {
            border-radius: 0;
            border: 2px solid #edcb3e;
            background-color: #facc28;
            border-color: #facc28;
            letter-spacing: 0.5px;
            padding: 12px 31px;
            color: #233a83;
            font-weight: 700;
            font-size: 16px;
            transition: all .3s ease;
            outline: 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .form-wrap {
        & * {
            width: 100%;
        }
        & form {
            flex-direction: column;
            & .form-control {
                padding-top: 6px;
                padding-bottom: 6px;
            }
            & div {
                flex-direction: column;
                margin: 10px 0;
                & label {
                    width: 100%;
                    margin-bottom: 0;
                    padding-right: 0px;
                    padding-left: 0px;
                }
            }
        }
    }
}