/* Tools */

.text-xs-left {
    text-align: left;
}

.text-xs-right {
    text-align: right;
}

.text-xs-center {
    text-align: center;
}

.text-xs-justify {
    text-align: justify;
}

@media (min-width: 768px) {
    .text-sm-left {
        text-align: left;
    }
    .text-sm-right {
        text-align: right;
    }
    .text-sm-center {
        text-align: center;
    }
    .text-sm-justify {
        text-align: justify;
    }
}

@media (min-width: 992px) {
    .text-md-left {
        text-align: left;
    }
    .text-md-right {
        text-align: right;
    }
    .text-md-center {
        text-align: center;
    }
    .text-md-justify {
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .text-lg-left {
        text-align: left;
    }
    .text-lg-right {
        text-align: right;
    }
    .text-lg-center {
        text-align: center;
    }
    .text-lg-justify {
        text-align: justify;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1300px;
    }
}

.btn-theme {
    border-radius: 0;
    border: 2px solid #edcb3e;
    padding: 12px 31px;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s ease;
    outline: 0;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        color: #2f3c7f;
        text-decoration: none;
    }
}

@media screen and (max-width: 480px) {
    .btn-theme {
        width: 100%;
    }
}

.flex-row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    & .col-desktop-6 {
        align-self: center;
        flex-wrap: wrap;
        @media screen and (min-width: 992px) {
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
            max-width: 50%;
        }
        @media screen and (max-width: 991px) {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            max-width: 100%;
        }
    }
    & .col-mobile-6 {
        align-self: center;
        flex-wrap: wrap;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
    & .col-desktop-5 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 42%;
        max-width: 41.66666667%;
        @media screen and (min-width: 992px) {
            padding-right: 15px;
        }
    }
    & .col-desktop-7 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 58%;
        max-width: 58.33333333%;
        @media screen and (min-width: 992px) {
            padding-left: 15px;
        }
    }
    @media screen and (max-width: 991px) {
        & .col-mobile-12 {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            max-width: 100%;
        }
    }
}

@media screen and (min-width: 992px) {
    .two-column-block {
        column-count: 2;
        column-gap: 15px;
    }
    .container-sub {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.col-row:after {
    display: table;
    content: " ";
    clear: both;
}