/***********************
********* Fonts *******
***********************/

@font-face {
    font-family: 'Boxed Light It';
    src: url('../fonts/boxed/BoxedLight-Italic.otf') format("opentype");
    font-weight: 300;
    font-style: 300;
}

@font-face {
    font-family: 'Boxed Regular';
    src: url('../fonts/boxed/BoxedRegular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Boxed Regular It';
    src: url('../fonts/boxed/BoxedRegular-Italic.otf') format("opentype");
    font-weight: 400;
    font-style: 400;
}

@font-face {
    font-family: 'Boxed Medium';
    src: url('../fonts/boxed/BoxedMedium.otf') format("opentype");
    font-weight: 700;
    font-style: 700;
}

@font-face {
    font-family: 'Boxed Medium It';
    src: url('../fonts/boxed/BoxedMedium-Italic.otf') format("opentype");
    font-weight: 700;
    font-style: 700;
}