footer {
    color: #fff;
    font-size: 16px;
    .container {
        background: #233a83;
        padding-top: 32px;
        padding-bottom: 40px;
    }
    .widget {
        &-title {
            font-size: 24px;
            font-weight: 700;
            color: #fff;
            line-height: 1;
        }
        &-wrap {
            margin: 0;
            margin-top: 35px;
            padding: 0;
            list-style: none;
            li {
                padding-bottom: 14px;
                line-height: 1;
                a {
                    color: #fff;
                    font-size: 16px;
                    line-height: 1;
                }
            }
        }
        &-call {
            margin: 0;
            padding: 0;
            list-style: none;
            & li:not(.widget-call-to) {
                font-size: 16px;
                padding-bottom: 15px;
                line-height: 1;
            }
            &-to {
                padding-bottom: 20px;
                & .btn-theme {
                    padding: 12px 31px;
                    &:hover {
                        background: #edcb3e;
                        border-color: #edcb3e;
                    }
                }
            }
        }
    }
    & .copyright {
        color: #facc28;
        font-size: 12px;
    }
}