/**** Header ****/

/* BreadCrumbs */

/* 991px menu*/

/* MEGA menu */

body {
  font-family: 'Cuprum', sans-serif;
  color: #000;
  font-weight: 400;
}

h1 {
  font-family: 'Boxed Regular It', sans-serif;
}

h2 {
  font-family: 'Boxed Regular It', sans-serif;
}

h3 {
  font-family: 'Boxed Regular It', sans-serif;
}

h4 {
  font-family: 'Boxed Regular It', sans-serif;
}

h5 {
  font-family: 'Boxed Regular It', sans-serif;
}

h6 {
  font-family: 'Boxed Regular It', sans-serif;
}

.header {
  .navbar {
    margin-bottom: 0;
    background: 0;
    border: 0;
  }
  .navbar-toggle {
    background-color: #2f3c7f;
    border-radius: 0;
    .icon-bar {
      background-color: #edcb3e;
    }
  }
}

.header-top {
  background: #323233;
  ul {
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      color: #ffffff;
      display: inline-block;
      line-height: 1;
      padding: 10px 0;
      position: relative;
      margin: 0 15px;
      font-size: 12px;
      &:not(:last-child) {
        &:after {
          content: "";
          display: inline-block;
          height: 5px;
          width: 5px;
          background: #edcb3e;
          border-radius: 50%;
          margin: 0 15px;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }
  }
}

.header-nav {
  .navbar-brand {
    padding: 26px 0px;
  }
  .nav {
    &:not(.sub-dropdown) {
      > li {
        > a {
          font-size: 16px;
          color: #4a494a;
          text-transform: uppercase;
          border-bottom: 2px solid transparent;
          display: block;
          position: relative;
          font-weight: 700;
        }
        &:hover {
          > a {
            border-bottom: 2px solid #edcb3e;
            display: block;
            position: relative;
            background-color: transparent;
            color: #facc28;
            &:after {
              content: '';
              position: absolute;
              left: 50%;
              bottom: 0;
              border: 5px solid transparent;
              border-bottom: 5px solid #f3c627;
              transform: translate(-50%, 0);
            }
          }
        }
      }
    }
  }
  .call-wrap {
    height: 90px;
    line-height: 90px;
    padding: 0;
    @media screen and (min-width: 1400px) {
      padding-left: 20px;
    }

    li {
      list-style: none;
      a {
        border: 2px solid #edcb3e;
        padding: 17px 31px;
        color: #2f3c7f;
        font-size: 16px;
        transition: all 0.3s ease;
        outline: 0;
        text-decoration: none;
        font-weight: 700;
        &:hover {
          color: #edcb3e;
          background: #2f3c7f;
          border-color: #2f3c7f;
          text-decoration: none;
        }
        &:focus {
          color: #edcb3e;
          background: #2f3c7f;
          border-color: #2f3c7f;
          text-decoration: none;
        }
        &:active {
          color: #edcb3e;
          background: #2f3c7f;
          border-color: #2f3c7f;
          text-decoration: none;
        }
      }
    }
  }
}

.main-gallery {
  position: relative;
  margin-bottom: 0;
  font-family: 'Boxed Medium It', sans-serif;
  div[class*="col-sm"] {
    padding: 0;
    &:after {
      position: absolute;
      height: 1px;
      content: "";
      display: block;
      bottom: 0;
      width: 100%;
    }
  }
  .blue {
    div[class*="-name"] {
      border-bottom-color: #233a83;
    }
    &:after {
      position: absolute;
      height: 1px;
      background: #233a83;
      content: "";
      display: block;
      bottom: 0;
      width: 100%;
    }
  }
  .yellow {
    div[class*="-name"] {
      border-bottom-color: #facc28;
    }
    &:after {
      position: absolute;
      height: 1px;
      background: #facc28;
      content: "";
      display: block;
      bottom: 0;
      width: 100%;
    }
  }
  .slick-dots {
    bottom: unset;
    top: 50%;
    left: 50px;
    margin-top: 0;
    transform: translate(0, -50%);
    position: absolute;
    width: initial;

    @media screen and (max-width: 767px) {
      display: none !important;
    }

    li {
      min-width: 2px;
      margin: 0;
      height: 75px;
      width: 2px;
      display: block;
      background: #b3b3b3;
    }
    li.slick-active {
      background: #facc28;
      WIDTH: 3PX;
    }
  }
}

.navi {
  position: relative;
  margin-bottom: 0;
  div[class*="col-sm"] {
    padding: 0;
    &:after {
      position: absolute;
      content: "";
      display: block;
      bottom: 0;
      width: 100%;
      height: 3px;
    }
  }
  .blue {
    div[class*="-name"] {
      border-bottom-color: #233a83;
    }
    &:after {
      position: absolute;
      height: 1px;
      background: #233a83;
      content: "";
      display: block;
      bottom: 0;
      width: 100%;
    }
  }
  .yellow {
    div[class*="-name"] {
      border-bottom-color: #facc28;
    }
    &:after {
      position: absolute;
      height: 1px;
      background: #facc28;
      content: "";
      display: block;
      bottom: 0;
      width: 100%;
    }
  }
  .slick-dots {
    bottom: unset;
    top: 0;
    li {
      display: block;
    }
  }
}

.main-gallery-banners {
  margin-bottom: 0 !important;
}

.navi-banners {
  margin-bottom: 0 !important;
}

.main-gallery-item {
  position: relative;
}

.navi-item {
  position: relative;
}

.main-gallery-caption {
  position: absolute;
  font-size: 46px;
  color: #3b3e43;
  line-height: 60px;
  top: 30%;
  left: 90px;
  font-family: 'Boxed Light It', sans-serif;
  font-weight: 300;
  @media screen and (max-width: 767px) {
    left: 20px;
  }

}


.slider-description {
  font-size: 20px;
  line-height: 20px;
}

.main-gallery-stick {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-gallery-stick-item-name {
  margin: 0 auto;
  line-height: 48px;
  font-size: 24px;
  text-align: center;
  position: relative;
  z-index: 1;
  border-bottom: 48px solid transparent;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  height: 0;
  width: 336px;
  a {
    color: #fff;
    position: relative;
    z-index: 2;
    display: block;
    height: 48px;
    line-height: 48px;
    &:hover {
      text-decoration: none;
    }
  }
}

.navi-stick-item-name {
  margin: 0 auto;
  line-height: 48px;
  font-size: 24px;
  text-align: center;
  position: relative;
  z-index: 1;
  border-bottom: 48px solid transparent;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  height: 0;
  width: 336px;
  a {
    color: #fff;
    position: relative;
    z-index: 2;
    display: block;
    height: 48px;
    line-height: 48px;
    &:hover {
      text-decoration: none;
    }
  }
}

.breadcrumb {
  background: 0 0;
  padding: 8px 0;
  margin-bottom: 0;
  li {
    font-size: 14px;
    a {
      color: #7e8080;
      text-transform: uppercase;
    }
  }
  li + li {
    &:before {
      padding: 0 5px;
      color: #ccc;
      content: "\f105";
      font-family: FontAwesome;
    }
  }
  li.active {
    color: #4c4c4c;
    text-transform: uppercase;
  }
}

.mega-dropdown {
  position: static !important;
}

.mega-dropdown-menu {
  padding: 35px 20px 20px 20px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0;
  border: 0;
  border-top: 1px solid #f3c627;
  h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
    line-height: 1.2;
    text-align: left;
  }
  .sub-dropdown {
    margin: 0;
    list-style: none;
    li {
      margin-bottom: 20px;
      display: block;
      &:hover {
        a {
          color: #233a83;
          background: #f2f2f2;
          text-decoration: none;
          i {
            transform: translate(5px, 0);
          }
        }
      }
      a {
        display: block;
        color: #808080;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        padding-left: 20px;
        height: 50px;
        line-height: 50px;
        border-top: 1px solid #f3c627;
        border-bottom: 1px solid #f3c627;
        text-decoration: none;
        i {
          transform: translate(0px, 0);
          transition: all 0.3s ease;
        }
      }
    }
  }
  .sub-dropdown-sub {
    margin: 0;
    list-style: none;
    li {
      margin-bottom: 20px;
      display: block;
      &:hover {
        a {
          color: #233a83;
          background: #f2f2f2;
          text-decoration: none;
        }
      }
      a {
        display: block;
        color: #808080;
        font-size: 13px;
        font-weight: 700;
        color: #808080;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        padding-left: 20px;
        height: 50px;
        line-height: 50px;
        border-top: 1px solid #f3c627;
        border-bottom: 1px solid #f3c627;
        text-decoration: none;
      }
    }
  }
  .dropdown-header {
    font-size: 18px;
    color: #ff3546;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav {
    .nav {
      &:not(.sub-dropdown) {
        > li {
          > a {
            padding-left: 35px;
            padding-right: 35px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .header-nav {
    .nav {
      &:not(.sub-dropdown) {
        > li {
          > a {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .header-nav {
    .call-wrap {
      padding-left: 15px;
    }
  }
  .navbar-header {
    float: none;
  }
  .navbar-left {
    float: none !important;
  }
  .navbar-right {
    float: none !important;
  }
  .navbar-default {
    .navbar-toggle {
      display: block;
      border: 0;
      background: 0;
      outline: none;
      transition: all 0.4s ease;
      &:hover {
        border: 0;
        background: 0;
        outline: none;
      }
      &:focus {
        border: 0;
        background: 0;
        outline: none;
      }
      .icon-bar {
        background: #000;
        transform: rotate(0);
        transition: all 0.4s ease;
      }
    }
    .navbar-toggle.open {
      transition: all 0.4s ease;
      .icon-bar {
        transform: rotate(0);
        transition: all 0.4s ease;
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(45deg);
        }
        &:nth-child(4) {
          transform: rotate(-45deg);
          margin-top: -2px;
        }
      }
    }
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    clear: both;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
    > li {
      float: none;
      > a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
        font-size: 18px;
        &:hover {
          color: #000;
        }
      }
    }
  }
  .collapse.in {
    display: block !important;
  }
}

@media screen and (max-width: 480px) {
  .main-gallery-stick-item-name {
    width: 100%;
  }
  .navi-stick-item-name {
    width: 100%;
  }
}