/******* Front Page *******/


/* catalog */

.home-catalog {
    & .flex-row {
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin: 0;
        & .col-mobile-6 {
            align-self: center;
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    .interior,
    .exterior {
        &-item {
            position: relative;
            &-thumb {
                text-align: right;
                padding-right: 40px;
                @media screen and (max-width: 1199px) {
                    padding-right: 20px;
                }
                @media screen and (max-width: 768px) {
                    padding-right: 15px;
                }
            }
            &-data {
                padding-left: 28px;
                @media screen and (max-width: 1199px) {
                    padding-left: 10px;
                }
                @media screen and (max-width: 768px) {
                    padding-left: 0;
                }
            }
            &-data-name {
                font-size: 30px;
                font-weight: 700;
                font-family: 'Cuprum', sans-serif;

                @media screen and (max-width: 1199px) {
                    font-size: 28px;
                }

                @media screen and (max-width: 768px) {
                    font-size: 26px;
                }

            }
            &-data-link {
                a {
                    text-transform: uppercase;
                    color: #2f3c7f;
                    font-size: 13px;
                    font-weight: 700;
                    i {
                        padding-left: 10px;
                    }
                }
            }
            & .sqr {
                position: absolute;
                width: 8px;
                height: 8px;
                top: 30px;
                right: 30px;
            }
        }
    }
    .interior {
        padding: 0;
        &-item {
            border: 1px solid transparent;
            border-top-color: #e6e6e6;
            &:nth-child(4) {
                border-bottom-color: #e6e6e6;
            }
            & .sqr {
                background: #facc28;
            }
        }
    }
    .exterior {
        padding: 0;
        &-item {
            border: 1px solid transparent;
            border-top-color: #e6e6e6;
            border-left-color: #e6e6e6;
            &:nth-child(4) {
                border-bottom-color: #e6e6e6;
            }
            & .sqr {
                background: #233a83;
            }
        }
    }
}

.readmore-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.why-us {
    .container {
        background: #f3f3f3;
        padding-top: 60px;
        padding-bottom: 80px;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 35px;
        line-height: 1;
    }
    &-item {
        @media screen and (min-width: 1200px) {
            height: 180px;
            width: 180px;
        }
        @media screen and (min-width: 767px) and (max-width: 1199px) {
            height: 200px;
        }
        display: flex;
        background: #fff;
        flex-direction: column;
        color: #000;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 19px;
        /*padding-top: 15px;*/
        @media screen and (min-width: 1200px) {
            padding-left: 19px;
        }
        @media screen and (max-width: 1199px) {
            padding-left: 10px;
        }
        padding-bottom: 15px;
        box-shadow: 0px 0px 1px 1px #e6e6e6;
        position: relative;
        @media screen and (max-width: 991px) {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        @media screen and (max-width: 767px) {
            margin: 15px auto;
        }
        &-count {
            height: 70%;
            align-self: stretch;
            font-size: 30px;
            font-family: 'Boxed Medium It', sans-serif;
        }
        &-caption {
            height: 30%;
            font-size: 18px;
            @media screen and (max-width: 767px) {
                font-size: 15px;
            }
            @media screen and (min-width: 767px) and (max-width: 1200px) {
                font-size: 16px;
            }
        }
        & .bull {
            position: absolute;
            top: 11px;
            right: 11px;
            background: #e6e6e6;
            display: block;
            height: 8px;
            width: 8px;
            border-radius: 50%;
        }
    }
}

.clients {
    .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    h2 {
        margin: 0;
        margin-bottom: 35px;
        line-height: 1;
    }
    .slider-bg-gray {
        /*background: #f3f3f3;*/
    }
    &-slider {
        margin-bottom: 0!important;
        border-right: 1px solid #cccccc;
        padding: 0;
        background: #f3f3f3;
        & .slick-track {
            & li {
                padding-top: 45px;
                padding-bottom: 45px;
                border-top: 1px solid #cccccc;
                border-bottom: 1px solid #cccccc;
                border-left: 1px solid #cccccc;
                border-right-color: transparent;
                img {
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }
}