/* Styles for dialog window */

.popup {
    background: #fff;
    padding: 20px 0px;
    text-align: left;
    max-width: 400px;
    margin: 40px auto;
    position: relative;
    color: #000;
    text-align: center;
    letter-spacing: normal;
    &-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 5px 0 15px 0;
        border-bottom: 1px solid #e6e6e6;
        & h2 {
            font-size: 18px;
            color: rgb(0, 0, 0);
            font-weight: 700;
            line-height: 1.2;
            margin: 0 0 5px 0;
        }
        & P {
            font-size: 14px;
            color: rgb(128, 128, 128);
            line-height: 1.2;
        }
    }
    &-bottom {
        padding: 30px;
    }
    & .form-control {
        box-shadow: none;
        border: 0;
        border-bottom: 1px solid #c4c4c4;
        border-radius: 0;
        padding-left: 0
    }
    & .btn-theme {
        color: #233a83;
        font-weight: 700;
    }
}

.thank.popup {
    padding: 40px;
    h2 {
        font-size: 18px;
        color: rgb(0, 0, 0);
        font-weight: 700;
        line-height: 1.2;
    }
    & p {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 1.2;
        text-align: center;
        margin: 30px 0;
    }
}


/**
* Fade-zoom animation for first dialog
*/


/* start state */

.my-mfp-zoom-in {
    .zoom-anim-dialog {
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }
    &.mfp-ready .zoom-anim-dialog {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    &.mfp-removing .zoom-anim-dialog {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
    &.mfp-bg {
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-out;
        -moz-transition: opacity 0.3s ease-out;
        -o-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
    }
    &.mfp-ready.mfp-bg {
        opacity: 0.8;
    }
    &.mfp-removing.mfp-bg {
        opacity: 0;
    }
}


/**
* Fade-move animation for second dialog
*/


/* at start */

.my-mfp-slide-bottom {
    .zoom-anim-dialog {
        opacity: 0;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
        -moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
        -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
        -o-transform: translateY(-20px) perspective(600px) rotateX(10deg);
        transform: translateY(-20px) perspective(600px) rotateX(10deg);
    }
    &.mfp-ready .zoom-anim-dialog {
        opacity: 1;
        -webkit-transform: translateY(0) perspective(600px) rotateX(0);
        -moz-transform: translateY(0) perspective(600px) rotateX(0);
        -ms-transform: translateY(0) perspective(600px) rotateX(0);
        -o-transform: translateY(0) perspective(600px) rotateX(0);
        transform: translateY(0) perspective(600px) rotateX(0);
    }
    &.mfp-removing .zoom-anim-dialog {
        opacity: 0;
        -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
        -moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
        -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
        -o-transform: translateY(-10px) perspective(600px) rotateX(10deg);
        transform: translateY(-10px) perspective(600px) rotateX(10deg);
    }
    &.mfp-bg {
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-out;
        -moz-transition: opacity 0.3s ease-out;
        -o-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
    }
    &.mfp-ready.mfp-bg {
        opacity: 0.8;
    }
    &.mfp-removing.mfp-bg {
        opacity: 0;
    }
}