/**** News ***/

.blog-list-wrap {
    padding-top: 25px;
    & .blog-list-item {
        padding-bottom: 60px;
        border-bottom: 1px solid #ccc;
        & .flex-row {
            align-items: stretch;
            & .col-desktop-6 {
                align-self: stretch;
                justify-content: space-between;
                flex-direction: column;
                display: flex;
            }
        }
        & .post-grid-content-wrapper {
            @media screen and (max-width: 991px) {
                margin-top: 25px;
            }
            & .post-data {
                font-size: 14px;
                color: rgb(35, 58, 131);
                line-height: 1.2;
                text-align: left;
                font-weight: 400;
            }
            h2 {
                margin: 15px 0 20px 0;
                font-size: 30px;
                font-family: "Boxed Medium It";
                font-style: italic;
                text-align: left;
                transition: all 0.4s ease;
                a {
                    color: rgb(0, 0, 0);
                    &:hover {
                        opacity: 0.89;
                        text-decoration: none;
                    }
                }
                @media screen and (min-width: 1400px) {
                    max-width: 80%;
                }
            }
            p {
                font-size: 16px;
                font-family: 'Cuprum', sans-serif;
                color: rgb(0, 0, 0);
                line-height: 1.5;
                text-align: left;
                font-weight: 400;
            }
        }
        & .post-btn-content-wrapper {
            line-height: 1;
            & .read-more-icon {
                font-size: 13px;
                color: rgb(0, 0, 0);
                font-weight: 700;
                text-transform: uppercase;
                line-height: 1;
                & i {
                    padding-left: 10px;
                }
            }
        }
        &:nth-child(n+2) {
            margin-top: 60px;
        }
    }
}

.pagination-wrap {
    padding: 53px 0;
    a {
        color: #000;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1;
        transition: all 0.3s ease;
        span {
            padding: 0 15px;
        }
        &:hover {
            opacity: 0.5;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border-bottom: 1px solid #b3b3b3;
        @media screen and (max-width: 767px) {
            max-width: 126px;
        }
        li {
            display: inline-block;
            position: relative;
            min-width: 60px;
            font-size: 16px;
            color: #000;
            &:after {
                content: "";
                display: block;
                height: 2px;
                bottom: -1px;
                background: #facc28;
                position: absolute;
                width: 60px;
            }
        }
    }
}


/***** Single News */

.single-news {
    padding-top: 25px;
    &-title h1 {
        font-size: 30px;
        color: rgb(0, 0, 0);
        line-height: 1.2;
        text-align: left;
        margin: 40px 0 20px 0;
    }
    &-sub-title {
        h4 {
            line-height: 1;
            margin: 0;
            font-size: 18px;
            font-family: "Cuprum";
            color: rgb(0, 0, 0);
            font-weight: bold;
            line-height: 1.444;
            text-align: left;
        }
    }
    &-body {
        margin-top: 40px;
        column-gap: 100px;
        padding-bottom: 68px;
        border-bottom: 1px solid #ccc;
        P {
            font-size: 16px;
            color: #000;
        }
    }
}

.back {
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    opacity: 1;
}