/**** Styles Fro Pages  ***/


/* Partners */


/*** Contacts Page  ***/


/****** Single Page Product ******/

.page {
    .container {
        background: #f3f3f3;
    }
}

.partners {
    padding-bottom: 80px;
    h1 {
        font-size: 30px;
        font-family: "Boxed Medium It";
        color: black;
        line-height: 1.2;
        text-align: left;
    }
    p {
        font-size: 16px;
        color: black;
        line-height: 1.5;
        text-align: left;
    }
}

.partners-top {
    h4 {
        color: black;
        line-height: 1.444;
        text-align: left;
        margin: 25px 0 30px 0;
        font-family: 'Cuprum', sans-serif;
        font-weight: 700;
    }
}

.partners-middle {
    margin-top: 60px;
    h2 {
        margin: 44px 0 23px 0;
        line-height: 1;
    }
}

.partners-page {
    + {
        .why-us {
            .container {
                background: #fff;
                padding-top: 50px;
                padding-bottom: 80px;
            }
        }
    }
}

.our-partners {
    h2 {
        margin-top: 50px;
        margin-bottom: 35px;
        line-height: 1;
    }
}

.our-partners-list {
    padding: 0;
    background: #ffffff;
    list-style: none;
    margin: 0px 0 0px 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;
    li {
        padding: 50px 57px;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        text-align: center;
        &:nth-child(5n+5) {
            border-right: 1px solid #ccc;
        }
        img {
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.contacts-page {
    h1 {
        margin: 11px 0 0 0;
    }
    .contact-item {
        h3 {
            font-size: 16px;
            color: #233a83;
            font-style: italic;
            text-transform: uppercase;
            line-height: 1.2;
            text-align: left;
            margin: 15px 0 10px 0;
            &:after {
                content: '';
                display: block;
                width: 80%;
                max-width: 15px;
                margin: 5px 0;
                height: 2px;
                background: #facc28;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                font-size: 16px;
                font-family: "Cuprum";
                color: black;
                line-height: 1.2;
                &:not(:last-child) {
                    padding-bottom: 17px;
                }
                a {
                    display: block;
                }
                span {
                    display: block;
                }
            }
        }
    }
    .contact-item.item-list {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                padding-bottom: 8px;
            }
        }
    }
    .contact.bottom {
        margin-top: 15px;
    }
}

.map {
    z-index: 1;
    min-height: 330px;
    width: 100%;
    display: block;
    padding-top: 55px;
    padding-bottom: 80PX;
}

.product-page {
    .product-data {
        background: #fff;
        padding-top: 50px;
        padding-bottom: 20px;
        &:after {
            content: " ";
            display: table;
            clear: both;
        }
    }
    .product-info {
        h1 {
            font-size: 30px;
            font-family: "Cuprum";
            color: black;
            font-weight: bold;
            line-height: 1.2;
            margin: 25px 0 10px 0;
        }
    }
    .product-info-decription {
        font-size: 16px;
        font-family: "Cuprum";
        color: #313133;
        line-height: 1.5;
    }
    .product-info-btn-container {
        margin-top: 75px;
    }
    .features {
        h2 {
            font-size: 30px;
            font-family: "Cuprum";
            color: black;
            font-weight: bold;
            line-height: 1.2;
            text-align: left;
        }
        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
        }
        li {
            padding-bottom: 35px;
            font-size: 16px;
            font-family: "Cuprum";
            color: black;
            line-height: 1.375;
            padding-left: 1.8em;
            &:before {
                content: "\f05d";
                font-family: FontAwesome;
                display: inline-block;
                margin-left: -1.8em;
                width: 1.8em;
                color: #facc28;
            }
        }
    }
}

.completed-work {
    padding: 50px 0;
    h2 {
        font-size: 30px;
        font-family: "Cuprum";
        color: black;
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 40px 0;
    }
    ul {
        margin-left: 0;
        padding: 0;
        position: relative;
        li.slick-slide {
            margin: 0 14px;
        }
    }
}

.slick-dots {
    margin-top: 15px;
    li {
        border-bottom: 2px solid #b3b3b3;
        min-width: 75px;
        margin: 0;
    }
    li.slick-active {
        border-bottom: 3px solid #facc28;
    }
}

@media screen and (min-width: 1399px) {
    .our-partners-list {
        li {
            flex-basis: 20%;
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .our-partners-list {
        li {
            flex-basis: 25%;
            border-width: 0 !important;
            border-color: #fff !important;
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .our-partners-list {
        li {
            flex-basis: 33.333333333%;
            border-width: 0 !important;
            border-color: #fff !important;
        }
    }
}

@media screen and (min-width: 522px) and (max-width: 991px) {
    .our-partners-list {
        li {
            flex-basis: 50%;
            border-width: 0 !important;
            border-color: #fff !important;
        }
    }
}

@media screen and (max-width: 521px) {
    .our-partners-list {
        li {
            flex-basis: 100%;
            &:not(:last-child) {
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .product-page {
        .product {
            margin-top: 20px;
        }
        .product-data {
            margin: 0 20px;
        }
        .features {
            ul {
                column-count: 3;
                column-gap: 15px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .product-page {
        .features {
            ul {
                column-count: 2;
                column-gap: 15px;
            }
        }
    }
}

@media screen and (max-width: 479px) {
    .completed-work {
        ul {
            li {
                img {
                    margin: 0 auto;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .slick-dots {
        li {
            min-width: 10px;
        }
    }
}