/**** Calc Pages  ***/

.calculator-page {
    /* Widget */
    h1 {
        margin: 0;
    }
    .photo {
        text-align: center;
    }
    .photo-placeholder {
        position: relative;
        padding: 0 50px 0 50px;
        margin-left: auto;
        margin-right: auto;
        img {
            margin: 0 auto;
        }
    }
    .photo {
        .add-info {
            margin: 10px 0;
            cursor: pointer;
            .roud {
                display: inline-block;
                height: 19px;
                width: 19px;
                border-radius: 50%;
                border: 1px solid #000;
                text-align: center;
                line-height: 19px;
                margin-right: 10px;
            }
        }
        .info {
            display: none;
            background: #f2f2f2;
            padding: 10px 25px 5px 25px;
            position: relative;
            h2 {
                font-size: 16px;
                font-family: "Cuprum";
                color: black;
                margin: 5px 0;
            }
            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                outline: none;
            }
            &.active {
                display: block;
            }
        }
    }
    .widget-title {
        font-size: 18px;
        font-family: "Cuprum";
        color: black;
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
    }
    .calculator form {
        margin-top: 11px;
    }
    .widget {
        border-bottom: 1px solid #e6e6e6;
        padding: 22px 0 20px 0;
        &-body {
            margin: 8px 0 0 0;
        }
    }
}


/* Top Selectable Block */

.select {
    position: relative;
    border-bottom: 1px solid #facc28;
    border-top: 1px solid #facc28;
    padding: 10px 0;
    background: #f2f2f2;
    padding-left: 15px;
    cursor: pointer;
    .img {
        display: inline-block;
    }
    .value {
        display: inline-block;
        font-size: 16px;
        color: black;
        line-height: 1.2;
    }
    .arrow {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
        i {
            color: #30468a;
            font-size: 20px;
        }
    }
}

.select-block {
    max-height: 313px;
    height: 313px;
    overflow-y: scroll;
    max-width: 100%;
    display: none;
    margin-top: 44px;
    position: relative;
    border-bottom: 1px solid #facc28;
    border-top: 1px solid #facc28;
    background: #f2f2f2;
    cursor: pointer;
    &.active {
        display: block;
    }
    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        .ui-widget-content {
            font-size: 16px;
            color: black;
            line-height: 1.2;
            text-align: left;
            padding: 6px 0;
            img {
                margin-right: 5px;
                margin-left: 15px;
                display: inline-block;
            }
        }
        .ui-selected {
            background: rgba(35, 58, 131, 0.57);
            color: white;
        }
    }
}


/*square*/

.square {
    margin: 30px 0;
    div[class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

.square-title {
    font-size: 18px;
    font-family: "Cuprum";
    color: black;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 15px;
    p {
        font-size: 13px;
        font-family: Cuprum;
        color: gray;
    }
}

.square-block-item {
    padding: 0;
    &:first-child {
        padding-right: 15px !important;
    }
    label {
        display: block;
    }
    .input-wrap {
        position: relative;
        .placeholder {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 13px;
            color: black;
            line-height: 1.2;
            text-align: right;
            font-weight: 600;
        }
        input {
            height: 50px;
            line-height: 50px;
            WIDTH: 100%;
            padding-left: 15px;
        }
    }
}

.panel {
    background-color: transparent !important;
    border-width: 0 !important;
    box-shadow: none;
    padding-left: 0;
    margin-top: 30px;
}

.panel-heading {
    background-color: transparent !important;
    border-width: 0 !important;
    padding-left: 0;
    padding-right: 0;
    h4 a {
        font-size: 26px;
        font-family: "Cuprum";
        color: black;
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        display: block;
        position: relative;
        text-decoration: none;
        .hide-panel {
            font-size: 16px;
            line-height: 28px;
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            span.icon-close {
                border: 2px solid #facc28;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                line-height: 28px;
                -webkit-font-smoothing: antialiased;
                width: 32px;
                height: 32px;
                margin-left: 5px;
                border-radius: 50%;
                text-align: center;
                color: #facc28;
                &:before {
                    content: "\f107";
                }
            }
        }
        &.collapsed .hide-panel span.icon-close:before {
            content: "\f106";
        }
    }
}

.panel-body {
    padding: 0;
    .collapse-item {
        padding: 15px 0 13px;
        &:first-child {
            border-bottom: 1px solid #e6e6e6;
        }
        .title {
            font-size: 18px;
            font-family: "Cuprum";
            color: black;
            font-weight: bold;
            line-height: 1.2;
            text-align: left;
            margin-bottom: 17px;
        }
    }
}

.quantity-wrap {
    & .collapse-item {
        border-top: 1px solid #e6e6e6;
        padding-top: 25px;
    }
}

.quantity-wrap .collapse-item {
    .title {
        font-size: 18px;
        font-family: "Cuprum";
        color: black;
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 17px;
    }
    .quantity {
        border: 1px solid #bfbfbf;
        text-align: center;
        height: 50px;
        line-height: 50px;
        div {
            display: inline-block;
        }
        input {
            display: inline-block;
            border: 0;
            width: 25px;
            border-radius: 4px;
            text-align: center;
            padding: 0 5px;
            font-size: 18px;
            line-height: 1;
            &[type=number] {
                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                -moz-appearance: textfield;
            }
            &:focus {
                outline: 0;
            }
        }
        .quantity-button {
            cursor: pointer;
            /* padding: 5px; */
            background: #facc28;
            color: #fff;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-weight: 900;
            font-size: 24px;
            i {
                color: #000;
                font-size: 18px;
            }
        }
    }
}

.panel-group .panel-heading+.panel-collapse> {
    .list-group,
    .panel-body {
        border-top: 0;
    }
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
    margin-left: 0px;
}

.checkbox-inline,
.radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
}


/* Custom Checkbox */

.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 200px;
    height: 210px;
    margin: 10px;
}

.control {
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    padding-left: 55px;
    height: 36px;
    line-height: 36px;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 15px;
    height: 32px;
    width: 32px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #cccccc;
    border-radius: 50%;
}

.control {
    &:hover input~.control__indicator {
        background: #fff;
    }
    input {
        &:focus~.control__indicator {
            background: #fff;
        }
        &:checked~.control__indicator {
            background: #fff;
            border: 1px solid #facc28;
        }
    }
    &:hover input:not([disabled]):checked~.control__indicator {
        background: #fff;
    }
    input {
        &:checked:focus~.control__indicator {
            background: #fff;
        }
        &:disabled~.control__indicator {
            background: #fff;
            opacity: 0.6;
            pointer-events: none;
        }
    }
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox {
    .control__indicator:after {
        left: 8px;
        top: 4px;
        width: 3px;
        height: 8px;
        border: solid #facc28;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    input:disabled~.control__indicator:after {
        border-color: #fff;
    }
}

.control--radio {
    .control__indicator:after {
        left: 50%;
        top: 50%;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background: #facc28;
        transform: translate(-50%, -50%);
    }
    input:disabled~.control__indicator:after {
        background: #fff;
    }
}


/* Manager Type CheckBox*/

.manager {
    input {
        position: absolute;
        left: -9999px;
    }
    label {
        display: block;
        position: relative;
        padding: 15px 62px 15px 10px;
        border: 1px solid #facc28;
        border-radius: 0;
        color: #fff;
        background-color: transparent;
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        transition: background-color .2s, box-shadow .2s;
        &::before {
            content: "\f00c";
            display: block;
            position: absolute;
            top: 50%;
            bottom: 10px;
            right: 10px;
            width: 32px;
            transform: translate(0, -50%);
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            transition: background-color .2s;
            text-align: center;
        }
    }
    input:checked+label {
        background-color: #facc28;
        color: #facc28;
        &::before {
            color: #fff;
        }
    }
}

.order-wrap {
    margin-bottom: 80px;
    /*Table*/
    .order-data:after,
    .order-data-content:after {
        content: " ";
        display: table;
        clear: both;
    }
    .order-data {
        background: #fff;
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .order-data-content {
        border: 1px solid #e6e6e6;
        padding: 25px 15px;
        .order-title {
            margin-bottom: 30px;
            h2 {
                font-size: 26px;
                font-family: "Cuprum";
                color: black;
                font-weight: bold;
                line-height: 1;
                text-align: left;
                margin: 0;
            }
            a {
                font-size: 13px;
                color: #000;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
                padding: 5px 0;
                display: block;
                span {
                    color: #facc28;
                    font-size: 13px;
                    font-weight: 900;
                    padding: 0 5px;
                }
            }
        }
    }
    .order-number {
        margin-bottom: 30px;
    }
    .order-number-title {
        font-size: 18px;
        color: black;
        font-weight: bold;
    }
    .order-number-sub-title {
        font-size: 13px;
        font-family: "Cuprum";
        color: gray;
        line-height: 1.2;
    }
    .table {
        margin-bottom: 0;
        > {
            thead>tr>th {
                font-size: 13px;
                font-family: "Cuprum";
                color: gray;
                font-weight: bold;
                padding: 8px 0;
                &:last-child {
                    text-align: left;
                    padding-left: 25px;
                }
            }
            tbody>tr:not(.summary)>td {
                vertical-align: middle;
                padding: 38px 0;
                font-size: 16px;
                font-family: "Cuprum";
                color: black;
                font-weight: 600;
                &:not(:first-child) {
                    text-align: right;
                }
                &:last-child {
                    text-align: left;
                    padding-left: 25px;
                }
            }
        }
        .pre-summ {
            background: #ffefb8;
            font-size: 16px;
            font-family: "Cuprum";
            color: black;
            font-weight: 600;
            position: relative;
            .remove {
                position: absolute;
                right: 15px;
                top: 5px;
                color: red;
            }
        }
        .qty .quantity {
            border: 1px solid #bfbfbf;
            text-align: center;
            background-color: #e6e6e6;
            max-width: 64px;
            margin: 0 auto;
            div {
                display: inline-block;
            }
            input {
                display: inline-block;
                border: 0;
                width: 25px;
                border-radius: 4px;
                text-align: center;
                padding: 0 5px;
                font-size: 16px;
                background-color: #e6e6e6;
                &[type=number] {
                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    -moz-appearance: textfield;
                }
                &:focus {
                    outline: 0;
                }
            }
            .quantity-button {
                cursor: pointer;
                color: #000;
                text-align: center;
                font-weight: 900;
                font-size: 20px;
                i {
                    color: #000;
                    font-size: 14px;
                }
            }
        }
        .summary {
            td {
                padding: 35px 0;
                border-bottom: 1px solid #ddd;
                &:last-child {
                    background: #ffefb8;
                    padding-left: 25px;
                    font-weight: 600;
                    font-size: 16px;
                    font-family: Cuprum;
                    color: #000;
                }
            }
            h4 {
                font-size: 18px;
                font-family: "Cuprum";
                color: black;
                font-weight: bold;
                margin: 0;
            }
            p {
                font-size: 13px;
                color: gray;
            }
            .adding-service {
                padding: 0;
                margin: 0;
                list-style: none;
                li[class*="col-"] {
                    padding: 0;
                }
                label {
                    position: relative;
                    margin-bottom: 15px;
                    cursor: pointer;
                    padding-left: 25px;
                    height: 36px;
                    line-height: 36px;
                    font-size: 16px;
                    color: black;
                    .control__indicator {
                        left: 0;
                        height: 18px;
                        width: 18px;
                        top: 50%;
                        transform: translate(0, -50%);
                        &:after {
                            height: 5px;
                            width: 5px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        .summary-title {
            font-size: 13px;
            color: gray;
            line-height: 1;
        }
        .summary-value {
            font-size: 18px;
            font-family: "Cuprum";
            color: #000;
            font-weight: bold;
            line-height: 1;
            margin-top: 19px;
        }
    }
}

.order-btn-container {
    padding-top: 25px;
}

@media screen and (min-width: 992px) {
    .order-wrap {
        .order-data {
            padding-left: 65px;
            margin: 0 20px;
        }
        .order-data-content .order-title a {
            text-align: right;
        }
        .table>thead>tr>th:not(:first-child) {
            text-align: center;
        }
        .table>thead>tr>th:last-child {
            text-align: left;
        }
    }
    .calculator-page .calculator {
        padding-right: 70px;
    }
}

@media screen and (min-width: 768px) {
    .order-wrap .table>tbody>tr:not(.summary)>td:not(:first-child) {
        text-align: center;
    }
    .order-wrap .table>tbody>tr:not(.summary)>td:last-child {
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    .calculator-page {
        .photo-placeholder {
            padding: 0 10px 0 10px;
        }
    }
    .panel-heading {
        h4 a {
            & .text {
                display: block;
                max-width: 70%;
            }
        }
    }
    .order-wrap .table {
        &>tbody>tr:not(.summary)>td {
            padding: 10px 0;
            text-align: right;
        }
        & .qty .quantity {
            float: right;
            padding: 0 5px;
        }
        & .summary td {
            padding: 15px 0;
        }
        & .qty {
            margin-bottom: 30px;
        }
    }
    .quantity-wrap .collapse-item .quantity {
        max-width: 100px;
        margin-bottom: 16px;
    }
}


/* Responsive Table */

@media screen and (max-width: 767px) {
    table.shop_table_responsive {
        thead th {
            display: none;
        }
        tr {
            display: block;
            td {
                display: block;
            }
            &:not(.summary) td:before {
                content: attr(data-title) ": ";
                font-weight: 700;
                float: left;
            }
        }
    }
}