<!--Footer-->
<!-- call popup -->
<div id="call-dialog" class="zoom-anim-dialog mfp-hide popup">
    <form action="" id="back-call">
        <div class="popup-top row">
            <div class="col-md-4">
                <img src="img/girl.png" class="img-responsive" alt="">
            </div>
            <div class="col-md-8 text-left">
                <h2>Вероника Иванова</h2>
                <p>
                    Специалист по продажам
                </p>
            </div>
        </div>
        <div class="popup-bottom">
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ваше имя">
            </div>
            <div class="form-group">
                <input type="phone" class="form-control" id="exampleInputPassword1" placeholder="Телефон">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="E-mail">
            </div>
            <div class="form-group">
                <textarea name="" id="" class="form-control" cols="30" rows="3" placeholder="Ваше сообщение"></textarea>
            </div>
        </div>
        <button type="submit" id="send-message" class="btn btn-large btn-default btn-theme">Оправить сообщение</button>
    </form>
</div>


<!--
    thank you
 -->
<div id="thank" class="mfp-hide thank popup">
    <h2>Поздравляем!</h2>
    <p>
        Ваш заказ принят в обработку, в ближайшее время наши специалисты свяжутся с вами
    </p>
    <a class="btn btn-large btn-default btn-theme popup-modal-dismiss">На главную</a>
</div>


<!--partner -->
<div id="partner" class="zoom-anim-dialog mfp-hide popup">
    <form action="" id="consult-form">
        <div class="popup-top row">
            <div class="col-md-4">
                <img src="img/girl.png" class="img-responsive" alt="">
            </div>
            <div class="col-md-8 text-left">
                <h2>Вероника Иванова</h2>
                <p>
                    Специалист по продажам
                </p>
            </div>
        </div>
        <div class="popup-bottom">
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ваше имя">
            </div>
            <div class="form-group">
                <input type="phone" class="form-control" id="exampleInputPassword1" placeholder="Телефон">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="E-mail">
            </div>
            <div class="form-group">
                <textarea name="" id="" class="form-control" cols="30" rows="3" placeholder="Ваше сообщение"></textarea>
            </div>
        </div>
        <button type="submit" id="consult-send" class="btn btn-large btn-default btn-theme">Стать партнером</button>
    </form>
</div>

<!--consult -->
<div id="consult" class="zoom-anim-dialog mfp-hide popup">
    <form action="" id="consult-form">
        <div class="popup-top row">
            <div class="col-md-4">
                <img src="img/girl.png" class="img-responsive" alt="">
            </div>
            <div class="col-md-8 text-left">
                <h2>Вероника Иванова</h2>
                <p>
                    Специалист по продажам
                </p>
            </div>
        </div>
        <div class="popup-bottom">
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ваше имя">
            </div>
            <div class="form-group">
                <input type="phone" class="form-control" id="exampleInputPassword1" placeholder="Телефон">
            </div>
            <div class="form-group">
                <textarea name="" id="" class="form-control" cols="30" rows="3" placeholder="Ваше сообщение"></textarea>
            </div>
        </div>
        <button type="submit" id="consult-send" class="btn btn-large btn-default btn-theme">Оправить сообщение</button>
    </form>
</div>


<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="container-sub">
                <div class="row">
                    <div class="col-md-3 widget">
                        <div class="widget-title">Интерьер</div>
                        <ul class="widget-wrap">
                            <li><a href="/">Доставка и оплата</a></li>
                            <li><a href="/">Акции</a></li>
                            <li><a href="/">Вопрос-Ответ</a></li>
                            <li><a href="/">Обмен и возврат</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 widget">
                        <div class="widget-title">Экстерьер</div>
                        <ul class="widget-wrap">
                            <li><a href="/">Доставка и оплата</a></li>
                            <li><a href="/">Акции</a></li>
                            <li><a href="/">Вопрос-Ответ</a></li>
                            <li><a href="/">Обмен и возврат</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 widget">
                        <div class="widget-title">Клиентам</div>
                        <ul class="widget-wrap">
                            <li><a href="/">Доставка и оплата</a></li>
                            <li><a href="/">Акции</a></li>
                            <li><a href="/">Вопрос-Ответ</a></li>
                            <li><a href="/">Обмен и возврат</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 widget">
                        <ul class="widget-call">
                            <li class="widget-call-to">
                                <a href="#call-dialog" class="btn-theme btn btn-default popup-with-zoom-anim">
                                    Перезвоните мне
                                </a>
                            </li>
                            <li>
                                +38 (050) 330 44 23
                            </li>
                            <li>
                                +38 (044) 239 97 27
                            </li>
                            <li>
                                09:00 - 20:00 Без выходных
                            </li>
                        </ul>
                        <div class="copyright">
                            © 2017 Все права защищены ООО “Инвестолл”
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>

</body>

</html>